# Windows & OS
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Editors & IDEs
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Backups & Temporary files
*.bak
*.backup
*.tmp
*.temp
*~
*.orig
*.cache
*.dump
*.log
__folder_managed_by_vortex

# Build & Release outputs
*.zip
*.7z
*.rar

# AI Assistants
GEMINI.md

